.see-more-services-view {
  border-radius: 5px;
  position: relative;
  margin: auto;
  top: 50px;
  max-width: 1000px;
  width: 80%;
  height: 960px;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "cat"
    "services-view"
    "page-nav";
}
.services-category {
  grid-area: cat;
}
.services-all-view {
  width: 100%;
  height: 100%;
  grid-area: services-view;
  display: grid;
  grid-template-columns: 32% 2% 32% 2% 32%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-areas:
    "service-1 . service-2 . service-3"
    "service-4 . service-5 . service-6"
    "service-7 . service-8 . service-9";
}
#service-all-0 {
  grid-area: service-1;
}
#service-all-1 {
  grid-area: service-2;
}
#service-all-2 {
  grid-area: service-3;
}
#service-all-3 {
  grid-area: service-4;
}
#service-all-4 {
  grid-area: service-5;
}
#service-all-5 {
  grid-area: service-6;
}
#service-all-6 {
  grid-area: service-7;
}
#service-all-7 {
  grid-area: service-8;
}
#service-all-8 {
  grid-area: service-9;
}
.page-nav {
  grid-area: page-nav;
  margin: auto 0;
}
.service-all {
  display: grid;
  grid-template-rows: 60% 1% 39%;
  grid-template-areas:
    "img"
    "."
    "desc";
}
.service-all:hover {
  cursor: pointer;
}
#service-all-img {
  width: 100%;
  height: 100%;
  grid-area: img;
  border: 1px solid silver;
}
.service-all-desc {
  grid-area: desc;
  display: grid;
  grid-template-rows: 23% 77%;
  grid-template-areas:
    "service-title"
    "service-details";
}
#service-all-title {
  font-size: 18px;
  grid-area: service-title;
}

#service-all-desc {
  grid-area: service-details;
  padding-top: 6px;
  font-size: 11px;
}
